:root{
    --color-blue: #19535F;
    --color-green: #0B7A75;
    --color-belge: #D7C9AA;
    --color-red: #7B2D26;
    --color-white: #F0F3F5;
}

header{
    background-color: var(--color-belge);
    margin: -0.5vw;
    overflow: hidden;
    font-weight: bold;
}

.header-icons{
    float: right;
}

body{
    background-color: var(--color-white);
    color: var(--color-red);
}

.grid-container{
    display: grid; 
    grid-template-rows: repeat(12, 8.33%);
    grid-template-columns: repeat(7, 14.28%);
}

.title{
    text-align: center;
    margin-bottom: 20vh;
    grid-row: 1;
    grid-column: 4/5;
}

.guide{
    grid-row: 3/13;
    grid-column: 1/4;
    border: 2px solid var(--color-blue);
    background: var(--color-belge);
}

.links-docs{
    text-align: center;
    border: 2px solid var(--color-blue);
    background: var(--color-belge);
    grid-row: 3/13;
    grid-column: 5/8;
}

.img-links{
    margin-top: 15vh;    
    height: auto;
    max-width: 100%;
}

nav{
    float: center;
}

nav li{
    margin-right: 5vw;
    display: inline;
}

a:link, a:visited {
    color: var(--color-blue);
}

a:hover {
    color: var(--color-belge);
    background-color: var(--color-red);
}
  
a:active {
    color: var(--color-white);
}